<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DojaCafe.Properties.Settings.DOJACAFEConnectionString"
            connectionString="Data Source=QUESADILLA;Initial Catalog=DOJACAFE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	    <legacyCorruptedStateExceptionsPolicy enabled="true"/>
    </startup>
</configuration>